.container {
    max-width: 720px;
    width: 100%;

    margin: 0 auto;
    padding: 2rem 0;
    // height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: left;


    img {
        // position: absolute;
        width: 238.62px;
        height: 2.5rem;
    }

}